<%=form_tag appointments_path, method: :get do %>
  <div class="search-bar">
    <%=label_tag "Search by time"%>
    <%=text_field_tag :search%>
    <%=submit_tag :search%>
  </div>
<%end%>

<%=render partial: "appointments", locals: {appointments: @appointments, index: true}%>
