<h1>appointment</h1>

<%=@appointment.name%><br><br>

<%= render partial: "appointments/appointments", locals: {artists: @appointment.artists, index: false} %>
<br><br>

<%= link_to "Add appointment to Pantry", new_appointment_appointment_path(@appointment) %><br><br>

<%=link_to "Edit", edit_appointment_path(@appointment)%><br><br>

<%=button_to "Delete", @appointment, method: :delete %>