<h1>appointment</h1>

<%=@appointment%><br><br>

 <!--<%= render partial: "appointments/appointments", locals: {appointments: @appointments, index: false} %>-->
<%=render 'form'%>
<br><br>

<%=link_to "Edit", edit_appointment_path(@appointment)%><br><br>

<%=button_to "Delete", @appointment, method: :delete %>